@font-face {
    font-family: Lato;
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: Lato Italic;
    src: url('../fonts/Lato-Italic.ttf');
}

@font-face {
    font-family: Lato Bold;
    src: url('../fonts/Lato-Bold.ttf');
}

html {
    overflow-y: scroll;
}

body {
    background: #444 url(../images/tweed.png) repeat 0 0 scroll;
}

#filelist {
    float: left;
    margin-left: 20px;
}

.file-square {
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px 0 0 10px;
    /*border: 1px solid black;*/
    cursor: pointer;
}

.file-square .square-icon {
    width: 64px;
    height: 64px;
    margin: 0px auto;
    background-image:url('../images/extensions/icon_folder.png');
}

.file-square .square-text {
    clear: both;
    max-height: 36px;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    font-size: 10px;
    font-family: 'Lato', arial, sans-serif;
}